<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{site_name}} | {{page_title}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Top navigation menu -->
    <div class="nav">
        <div class="content-2"></div>
        <div class="content-1"><a href="/">Home</a></div>
        <div class="content-2"></div>
        <div class="content-1"><a href="/marketplace">Marketplace</a></div>
        <div class="content-3"></div>
        <div class="content-1"><a href="/user">Account</a></div>
        <div class="content-2"></div>
        <div class="content-1"><a href="/posts">Posts</a></div>
        <div class="content-2"></div>
        <div class="content-1"><a href="/signup">Sign Up</a></div>
        <div class="content-2"></div>
        <div class="content-1"><a href="/login">Log In</a></div>
        <div class="content-2"></div>
    </div>
    <!-- All these pitt sites have a little gold stripe here? -->
    <div class="stripe">
        <br />
    </div>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>