{% extends '_base.html' %}

<!-- News feed content will be on the main page -->
{% block content %}

<div class="login">
    <section>
        <h2>Log in here!</h2>
    </section>

    <section class="login_form">
        <form>
            <section>
                <h3>Pitt Username</h3>
                <input type="text" name="username" placeholder="abc123" maxlength="6" title="Please provide your Pitt username" required>
            </section>

            <section>
                <h3>Password</h3>
                <input type="password" name="password1" id="pswd1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
            </section> 

            <br>

            <input type="submit" value="Log In">
        </form>
    </section>
</div>

<div class="container_signin">
    <p>Don't have an account? <a href="signup.html">Register here</a>.</p>
</div
{% endblock %}

