{% extends '_base.html' %}

<!-- News feed content will be on the main page -->
{% block content %}

<div class="login">
    <section>
        <h2>Log in here!</h2>
    </section>

    <section class="login_form">
        <form>
            <section>
                <h3>Pitt Email</h3>
                <input id="email" type="email" pattern="[a-z.]*[@]\bpitt.edu" error="abcd" placeholder="abc123@pitt.edu" title="Please provide only your Pitt e-mail address"required>
            </section>

            <!-- Perhaps can try to implement a password validation form for next milestones, and asks user to repeat password again -->
            <section>
                <h3>Password</h3>
                <input type="password" required>
            </section>
            <br>
            <input type="submit" value="Log In">
        </form>
    </section>
</div>

<div class="container_signin">
    <p>Don't have an account? <a href="signup.html">Register here</a>.</p>
</div
{% endblock %}

