{% extends '_base.html' %}

<!-- News feed content will be on the main page -->
{% block content %}

<div class="signup">
    <section>
        <h2>Sign Up</h2>
        <p>Fill out this form to create an account and get started!</p>
    </section>


<section class="signup_form">
    <form onsubmit="matchPassword()">
        <section>
            <h3>First Name</h3>
            <input type="text" required>
        </section>

        <section>
            <h3>Last Name</h3>
            <input type="text" required>
        </section>

        <!-- Allow a drop down to select from a list of majors at Pitt in the future? -->
        <section>
        <h3>Major</h3>
        <input type="text" required>
        </section>

        <section>
            <h3>Pitt Email</h3>
            <input id="email" type="email" pattern="[a-zA-Z0-9.]*[@]\bpitt.edu" error="abcd" placeholder="abc123@pitt.edu" title="Please provide only your Pitt e-mail address"required>
        </section>

        <section>
            <h3>Phone Number</h3>
            <input type="number" required>
        </section>


        <section>
            <h3>Password</h3>
            <input type="password" placeholder="Password" id="pswd1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        </section>

        <section>
            <h3>Repeat Your Password</h3>
            <input type="password" placeholder="Repeat Password" id="pswd2" required><br>
            <span id = "message2" style="color:red"> </span>
        </section>

        <br>

        <input type="submit" value="Submit">

    </form>
</section>
    
</div>

<div class="container_login">
    <p>Already have an account? <a href="login.html">Log in</a>.</p>
</div>
{% endblock %}

