{% extends '_base.html' %}

<!-- News feed content will be on the main page -->
{% block content %}
<section class="profile">
    <div class="left-col">
        <div class="profile-pic">
            <img src="/static/assets/guillaume-bolduc-SGzbP-t1vlg-unsplash.jpg" alt="profile picture">
        </div>
        <div class="menu">
            <div>
                <button id="my_posts_button" onclick="manageMenu('my_posts')">My Posts</button>
            </div>
            <div class="">
                <button id="account_details_button" onclick="manageMenu('account_details')">Account Details</button>
            </div>
            <div class="">
                <button id="settings_button" onclick="manageMenu('settings')">Settings</button>
            </div>
            <div>
                <button id="logout_button" onclick="window.location.href='/login'">Log Out</button> 
            </div>
        </div>
    </div>

    <div class="right-col">
        <div id="my_posts">

            <div class="content-2"></div>
                <div class="content-8" id="content-8">

                    {%for post in news_feed%}
                    {% if user.username == post.username %}
                    <div class="container">
                        <div class="row">
                            <div class="content-2">
                                <a href="/{{post.username}}}}">
                                    <div class="profile-pic">
                                        <img src="/static/assets/{{post.profile}}" alt={{post.display}}>
                                    </div>
                                </a>
                            </div>
                            <div class="content-6">
                                <h1 class="title">{{post.display}}</h1>
                                <h2 class="date">{{post.date}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="content-8">
                                <p class="description">{{post.description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="content-8">
                                <div class="post-image">
                                    <img src="/static/assets/{{post.image}}" class="post-image">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="content-1">
                                <div class="profile-pic">
                                    <img src="/static/assets/{{post.profile_image}}" class="profile-pic">
                                </div>
                            </div>
                            <div class="content-7">
                                <div class="comment">
                                    <form>
                                        <input type="text" id="comment" placeholder="Add a comment...">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {%endfor%}

        </div>
    </div>

    <div id="account_details">
        <h1 id="acc_details_name">{{ user.name }}</h1>
        <p> Student at Pitt</p>
    </div>

    <div id="settings">
        <h3>Settings</h3>
    </div>
</section>

{% endblock %}